<h1>Listing shops</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Datetime of visit</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Contact</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shops.each do |shop| %>
  <tr>
    <td><%= shop.name %></td>
    <td><%= shop.datetime_of_visit %></td>
    <td><%= shop.latitude %></td>
    <td><%= shop.longitude %></td>
    <td><%= shop.contact %></td>
    <td><%= shop.project %></td>
    <td><%= link_to 'Show', shop %></td>
    <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
    <td><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shop', new_shop_path %>
