<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @shop.name %>
</p>

<p>
  <b>Datetime of visit:</b>
  <%= @shop.datetime_of_visit %>
</p>

<p>
  <b>Latitude:</b>
  <%= @shop.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @shop.longitude %>
</p>

<p>
  <b>Contact:</b>
  <%= @shop.contact %>
</p>

<p>
  <b>Project:</b>
  <%= @shop.project %>
</p>


<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
