<div class="span2">
	<p></p>
</div>
<div class="span8">
	<h1 class="pageheader">Companies</h1>
	<ol class="microposts">
		<% @companies.each do |company| %>
		  <li>
		    <p><%= company.name %></p>
		    <p><%= company.description %></p>
		    <p><%= company.homepage %></p>
		    <p><%= link_to 'Show', company %>
		    <%= link_to 'Edit', edit_company_path(company) %>
		    <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></p>
		    	<span class="timestamp">
					Created <%= time_ago_in_words(company.created_at) %> ago.
				</span>
		  </li>
		<% end %>
	</ol>
	
	<br />

	<%= link_to 'New Company', new_company_path %>
</div>
<div class="span2">
	<p>sidebar</p>
</div>
