<div class="span2">
	<p></p>
</div>
<div class="span8">
	<h1 class="pageheader">Reviews</h1>
	<ol class="microposts">
		<% @reviews.each do |review| %>
		  <li>
		    <p>Lat: <%= review.latitude %></p>
			<p>Long: <%= review.longitude %></p>
			<p>Review: <%= review.review %></p>
			<p>
				Data:
			        <span>
			          <%- review.data.try(:each) do |key, value| -%>
			            {'<%= key %>' => '<%= value %>'}
			          <%- end -%>
			        </span>
			</p>
			<p>Project: <%= review.project %></p>
			<p>
				<%= link_to 'Show', review %>
				<%= link_to 'Edit', edit_review_path(review) %>
				<%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
			</p>
		   
	    	<span class="timestamp">
				Created <%= time_ago_in_words(review.created_at) %> ago.
			</span>
		  </li>
		<% end %>
	</ol>
	
</div>
<div class="span2">
	<p></p>
</div>
